* {
  margin:0;
  padding: 0;
}

html{
  background: url("../images/pexels-philip-ackermann-1666021-wide.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:  #27ae60;
  font-family: 'Oswald', sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-size: 6em;
  font-weight: 500;
}
h2 {
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 1em;
}
h3 {
  flex-grow: 2;
  font-size: 2em;
  font-weight: 200;
  margin-bottom: 1.5em;
}

h4 {
  border: 3px solid #000000;
  border-radius: 8px;
  height: 120px;
  width: 160px;
  background-color:  #fff;
  box-shadow: 2px 2px  #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
}

h5, h6{
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
a:link{
  color: #000000;
}

footer {
  align-items: flex-end;
  height: 100%;
}

p{
  margin: 1em 1em 2em 1em;
  font-size: 1.5em;
  font-weight: 200;
}

.mainContainer {
  margin: 5em;
  background-color: #fff;
  border-radius: 5em
}

footer, .container {
  display: flex;
  justify-content: space-around;
}

.textContainer{
  flex-direction: column;
  flex-grow: 2;
  padding-left: 8%;

}

.contactContainer{
  display: flex;
  padding-right: 8%;
  justify-content: center;
  align-items: center;
}

.textContainer, .contactContainer{
padding-top: .5em;
}

.footerContainer {
  background-color: #fff;
  border-radius: 5em;
  margin: 0 5em 0 5em;
  padding: 1em 0 1em 0;
  width: 100%
}

.projectsContainer {
  flex-direction: column;
  margin: 5em;
  background-color: #fff;
  border-radius: 5em
}

.skillsContainer {
  flex-direction: column;
  justify-content: space-around;
}

.experienceContainer {
  flex-direction: column;
}

.experienceContainer > h5, .skillsContainer > h5 {
  font-weight: 300;
}

.skillsTable {
  width: 100%;
  margin-left:5em;
  margin-right:5em;
  font-size: 1.25em;
  font-weight: 200;
  margin-bottom: 1.5em
}

.projectsContainer > .textContainer > h3 {
  margin-bottom: .25em;
}

.borderIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #000000;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  margin-right: 1em;
}

.githubIcon{
  margin-right: 1em;
}

.courseLink{
  text-decoration: underline;
}
